<AuthorizeView Policy="Admin">
    <a class="nav-item" href="/Admin  ">Admin</a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a class="nav-item" href="/Profile">Profile</a>
        <a class="nav-item" href="/MicrosoftIdentity/Account/SignOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-item" href="/MicrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>
