<AuthorizeView Policy="Admin">
    <a class="nav-item text-decoration-none text-white" href="/Admin  ">Admin</a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a class="nav-item text-decoration-none text-white fs-4 " href="/MicrosoftIdentity/Account/EditProfile"><i class="bi bi-person"></i></a>
        <a class="nav-item text-decoration-none text-white fs-4 " href="/MicrosoftIdentity/Account/SignOut"><i class="bi bi-box-arrow-right"></i></a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-item text-decoration-none" href="/MicrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>
