@page "/"
@inject IDbConnection dbc
@inject IIngredientData ingredientData
@inject IProductData productData

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>



@code {
    private List<IngredientModel> ingredients;
    private List<ProductModel> products;

    private IngredientModel i = new IngredientModel() { Name = "sauuuce", Price = 3000 };


    string id = "636cd8df7b7bb7c9b2ded3fe";
    //ProductModel product;

    dynamic product;

    protected async override Task OnInitializedAsync()
    {        
        ingredients = await ingredientData.GetAllIngredients();
        products = await productData.GetAllProducts();
        product = await productData.GetProduct(id);
    }

    private async Task Click()
    {
        await ingredientData.CreateIngredient(i);
        ingredients = await ingredientData.GetAllIngredients();
    }

    

    

}
