@page "/"
@inject IDbConnection dbc
@inject IIngredientData ingredientData
@inject IProductData productData

<PageTitle>Index</PageTitle>


<div class="container">
    <div class="row row-cols-2 g-3">
        @if(pizzas is not null)
        {
            @foreach (var pizza in pizzas)
            {
                <div class="col bg-light opacity-90 text-dark">
                    <img src="~/images/pizzaLogo.png">
                    <h2>@pizza.Name</h2>
                    <p>
                        @foreach(var ingredient in pizza.Ingrediens)
                        {
                            @ingredient.Name                            
                        }                        
                    </p>
                    <div>@pizza.Price</div>
                    <button>Kosárba</button>
                </div>
            }
        }
    </div>
</div>


@code {
    private List<ProductModel> products;
    private List<ProductPizzaModel> pizzas;
    private List<ProductDrinkModel> drinks;

    protected async override Task OnInitializedAsync()
    {        
        products = await productData.GetAvailableProducts();
        pizzas = await productData.GetAvailabelProductsByType(new ProductPizzaModel());
        drinks = await productData.GetAvailabelProductsByType(new ProductDrinkModel());
    }


}
