@page "/"
@inject IDbConnection dbc
@inject IMongoIngredientData ingredientData

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (ingredients is not null)
{
    foreach (var item in ingredients)
    {
        <p>@item.Name</p>
    }
}

<button @onclick="(() => Click())"></button>




Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private List<IngredientModel> ingredients;

    private IngredientModel i = new IngredientModel() { Name = "sauuuce", Price = 3000 };

    protected async override Task OnInitializedAsync()
    {        
        ingredients = await ingredientData.GetAllIngredients();
    }

    private async Task Click()
    {
        await ingredientData.CreateIngredient(i);
        ingredients = await ingredientData.GetAllIngredients();
    }

    

}
